.fullPageError {
	color: #f33;
}

.errorList {
	color: #f33;
	display: flex;
	flex-direction: column;

	> div {
		border-bottom: 1px solid #f33;
		background: #300;
		padding: 4px;
	}
}

.errorRemoveLink {
	float: right;
}

.clipBar {
	width: calc(100% - 14px);
	min-height: 7px;
	background-color: #bbb;
	position: relative;
	margin: 0 7px;

	> div {
		position: absolute;
		background-color: #d80;
		height: 100%;
	}
}

.waveformContainer {
	position: relative;
	width: calc(100% - 14px);
	margin: 0 7px;
}

.waveform {
	width: 100%;
	max-height: 100px;
}

.waveformMarker {
	width: 1px;
	height: 100%;
	background: #dd8800a0;
	position: absolute;
	top: 0;
}

.notesToEditor {
	border: 1px solid #666;
	background-color: #125;
	padding: 2px;
	white-space: pre;
}

.categoryNotes {
	border: 1px solid #666;
	background-color: #500;
	padding: 2px;
	white-space: pre;
}

.chaptersEnabledSelection {
	margin-top: 5px;
}
