.fullPageError {
	color: #f33;
}

.errorList {
	color: #f33;
	display: flex;
	flex-direction: column;

	> div {
		border-bottom: 1px solid #f33;
		background: #300;
		padding: 4px;
	}
}

.errorRemoveLink {
	float: right;
}
