.clickable {
	cursor: pointer;
}

.transitionLabel {
	margin-right: 5px;
}

.transitionText {
	margin: 0 2px;
}

.transitionDuration {
	width: 70px;
}

.transitionPreviewToggle {
	margin-left: 5px;
}

.previewVideoPlayer {
	width: 640px;
}

.rangeRegion {
	margin-top: 4px;
}

.timeRangeEntryRow {
	display: flex;
	gap: 4px;
	align-items: center;
	margin: 4px 0;
}

.timeRangeSelect {
	flex-basis: 100px;

	input {
		width: calc(100% - 8px); // Subtract the browser-added padding and border
	}
}

.timeRangeIcon {
	flex-basis: 16px;

	img,
	media-icon {
		width: 16px;
	}
}

.timeRangeDescription {
	flex-basis: 400px;

	input {
		width: calc(100% - 8px);
	}
}

.addChapter {
	margin-left: 20px;
}
