.thumbnailLabel {
	margin-top: 3px;
}

.firstThumbnailRow {
	padding-top: 2px;
	padding-bottom: 2px;

	> *:not(:last-child) {
		margin-right: 5px;
	}
}

.timeRangeEntry {
	display: inline-flex;
	gap: 4px;
	align-items: center;
}

.timeRangeSelect {
	flex-basis: 100px;

	input {
		width: calc(100% - 8px);
	}
}

.timeRangeIcon {
	flex-basis: 16px;

	img {
		width: 16px;
	}
}

.clickable {
	cursor: pointer;
}

.uploadError {
	color: #f33;
}

.cropOptions label {
	margin-right: 5px;
}

.thumbnailCoordinateInput {
	width: 50px;
}

.cropCoordinatesLabel {
	margin-right: 3px;
}

.cropCropper {
	width: 1920px;
	height: 1080px;
	margin: 5px 0;
}

.locationCropper {
	width: 1280px;
	height: 720px;
	margin: 5px 0;
}
