.streamTimeSettings {
	display: flex;
	align-items: flex-end;
	gap: 5px;
	margin-bottom: 10px;
	margin-top: 5px;
}

.streamTimeSettingLabel {
	margin-right: 3px;
}

.videoControls {
	font-size: 110%;
}

.videoControls select {
	appearance: none;
	font-size: inherit;
	background: inherit;
	border: none;
	text-align: center;
}

.videoControls option {
	background: #222;
	padding: 2px;
}

.videoControlsBar {
	display: flex;
	align-items: center;
	gap: 8px;
}

.videoControlsSpacer {
	flex-grow: 1;
}

.videoControlsVolume {
	display: flex;
	align-items: center;
	gap: 2px;
}

.videoControlsVolumeLevel {
	width: 100px;
	height: 8px;
	border-radius: 0;
	border: 0;
}

.videoControlsPlaybackPosition {
	height: 10px;
	border-radius: 0;
	border: 0;
	width: 100%;
}