.streamTimeSettings {
	display: flex;
	align-items: flex-end;
	gap: 5px;
	margin-bottom: 10px;
	margin-top: 5px;
}

.streamTimeSettingLabel {
	margin-right: 3px;
}

.keyboardShortcutHelp {
	position: absolute;
	top: 0;
	right: 0;
	background: #222;
	z-index: 1;
	padding: 2px;

	&[open] {
		border: 1px solid #fff;
	}
}
