.hidden {
	display: none;
}

table > form {
	display: table-row;
}

#list-data {
	border-collapse: collapse;
}

#list-data td {
	border: 1px solid #000;
	padding: 2px;
}

#google-authentication {
	margin-top: 5px;
}
