html, body {
    height:100%;
    margin:0px;
    background-color:darkgrey;
}
body.ultrawide > div { max-width:100% !important; }
body.ultrawide .my-player-dimensions { width:100% !important; }

.video-js .vjs-control-bar {
    background-color:#2b333f;
}
.video-js .vjs-time-control {
    display: block;
}
.video-js .vjs-remaining-time {
    display: none; 
}
.video-js .vjs-current-time.vjs-time-control, .video-js .vjs-duration.vjs-time-control {
    padding:0em;
}
.video-js .vjs-progress-control .vjs-mouse-display {
    z-index: 100;
}
.vjs-menu-button-popup .vjs-menu {
    bottom:-3px;
}
.video-js .vjs-picture-in-picture-control {
    display: none;
}


#EditorDetailsPane {
    margin-top:100px;
}
#EditNotes {
    width: 100%;
    background-color: pink;
    color: black;
    border: none;
}
#VideoTitle {
    width:90%
}
#VideoTitlePrefix {
    width:5%;
}
#VideoDescription {
    width:100%;
}

*:focus {
    outline:none;
}
