a,
.click {
	cursor: pointer;
}

#errors {
	color: #b00;
	display: flex;
	flex-direction: column;
}

#errors > div {
	border-bottom: 1px solid #b00;
	background: #fee;
	padding: 4px;
}

.error-dismiss {
	float: right;
}

#stream-time-settings {
	display: flex;
	align-items: flex-end;
	gap: 5px;
	margin-bottom: 10px;
}

#stream-time-settings > div {
	margin: 0 2px;
}

.field-label {
	display: block;
}

#video {
	width: 100%;
	max-height: 50vh;
}

/* START BLOCK
 * We want to style the VideoJS player controls to have a full-screen-width progress bar.
 * Since we're taking the progress bar out, we also need to do a couple other restylings.
 */
#video .vjs-control-bar .vjs-time-control {
	display: block; /* We want to display these */
}

#video .vjs-control-bar .vjs-progress-control {
	position: absolute;
	bottom: 26px; /* Aligns the bar to the top of the control bar */
	left: 0;
	right: 0;
	width: 100%;
	height: 10px;
}

#video .vjs-control-bar .vjs-progress-control .vjs-progress-holder {
	margin-left: 0px;
	margin-right: 0px;
}

#video .vjs-control-bar .vjs-remaining-time {
	/* Right-align the controls we want to be right-aligned by using this to shove
	 * the rest of the controls to the right
	 */
	flex-grow: 1;
	text-align: left;
}
/* END BLOCK */

/* Separately from that, it'd also be nice for the video controls not to cover the video,
 * so the size of the video is reduced by the progress bar height here.
 */
#video .vjs-tech {
	height: calc(50vh - 33px);
}

#clip-bar {
	width: 100%;
	height: 5px;
	background-color: #bbb;
	position: relative;
}

#clip-bar > div {
	position: absolute;
	background-color: #d80;
	height: 100%;
}

#waveform {
	width: 100%;

	/* With an unbound height, the waveform can appear a bit away from the video.
	 * The intended effect still works if we scrunch the height a bit, so here's
	 * a height bound for the waveform image.
	 */
	max-height: 100px;
}

#editor-help {
	z-index: 1;
}

#editor-help-link {
	float: right;
	z-index: 5;
}

#editor-help-box {
	position: absolute;
	right: 0;
	border: 1px solid #000;
	padding: 2px;
	background: #fff;
}

#editor-help-box h2 {
	margin: 3px 0;
}

#range-definitions {
	display: flex;
	flex-direction: column;
	gap: 1px;
}

.range-definition-times {
	display: flex;
	align-items: center;
	gap: 4px;
}

.range-definition-start,
.range-definition-end {
	width: 100px;
}

.range-definition-between-time-gap {
	width: 5px;
}

.range-definition-icon-gap {
	width: 16px;
}

.range-definition-transition {
	margin-bottom: 2px;
}

.range-definition-transition-type {
	margin-right: 4px;
}

#add-range-definition {
	margin-top: 2px;
}

#video-info > div {
	margin: 5px 0;
}

#video-info-title-full {
	display: flex;
	align-items: center;
	white-space: pre;
}

#video-info-title {
	flex-grow: 1;
}

#video-info-description-entry {
	display: flex;
	align-items: flex-start;
	gap: 5px;
}

#video-info-description {
	flex-grow: 1;
}

#video-info-editor-notes-container {
	border: 1px solid #666;
	background-color: #bde;
}

.submission-response-error {
	white-space: pre-wrap;
}

.hidden {
	display: none;
}

#submission {
	margin: 5px 0;
}

#download {
	margin: 5px 0;
}

#data-correction {
	margin: 5px 0;
}

#data-correction-force-reset-confirm p {
	margin: 5px 0;
}
