version: "3"
services:
  prometheus:
    image: "wubloader_prometheus:latest"
    command:
    - "--config.file=/etc/prometheus/prometheus.yml"
    - "--storage.tsdb.path=/prometheus"
    - "--storage.tsdb.retention.time=30d"
    - "--web.console.libraries=/usr/share/prometheus/console_libraries"
    - "--web.console.templates=/usr/share/prometheus/consoles"
    restart: "on-failure"
    volumes:
    - "/storage/wubloader-metrics/prometheus:/prometheus"
    ports:
    - "9090:9090"
  grafana:
    image: "grafana/grafana:8.5.15"
    restart: "on-failure"
    volumes:
    - "/storage/wubloader-metrics/grafana:/var/lib/grafana"
    - "./grafana:/etc/grafana"
    ports:
    - "1338:3000"
