.errorList {
	color: #f33;
	display: flex;
	flex-direction: column;
}

.errorList > div {
	border-bottom: 1px solid #f33;
	background: #300;
	padding: 4px;
}

.errorRemoveLink {
	float: right;
}

.videoLinks a {
	margin: 2px;
}

.chatContainer {
	height: 40vh;
	overflow-y: auto;
}
